{% if app.user  %}
    {% set username = app.user.fullname %}
{% else %}
    {% set username = "Гость" %}
{% endif %}
<div class="nav-custom">
    <ul class="nav-custom-ul">

        <li class="nav-custom-li"><a href="{{ path('profile') }}">{{ username }}</a> <a href="{{ path('logout') }}">(выйти)</a></li>

        <li class="nav-custom-li divider"></li>

        {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-custom-li">
                <a href="{{ path('requestsByStatus', {name: 'new'}) }}">Новые заявки</a>
            </li>
            <li class="nav-custom-li">
                <a href="{{ path('requestsByStatus', {name: 'active'}) }}">Активные заявки</a>
            </li>
            <li class="nav-custom-li">
                <a href="{{ path('requestsByStatus', {name: 'finished'}) }}">Завершенные заявки</a>
            </li>
            <li class="nav-custom-li">
                <a href="{{ path('requestsByStatus', {name: 'declined'}) }}">Отклоненные заявки</a>
            </li>
            <li class="nav-custom-li divider"></li>
            <li class="nav-custom-li">
                <a href="{{ path('adminDialogs') }}">Диалоги с пользователями</a>
            </li>
            <li class="nav-custom-li">
                <a href="{{ path('profiles') }}">Профили</a>
            </li>
        {% elseif is_granted('ROLE_USER') %}
            <li class="nav-custom-li">
                <a href="{{ path('newRequest') }}">Создать заявку</a>
            </li>
            <li class="nav-custom-li">
                <a href="{{ path('requests') }}">Ваши заявки</a>
            </li>
            <li class="nav-custom-li">
                <a href="{{ path('dialog') }}">Диалог с администратором</a>
            </li>
        {% else %}
            <li class="nav-custom-li">
                <a href="{{ path('status') }}">Статус акканута</a>
            </li>
        {% endif %}





    </ul>
</div>