<div class="request-inner-body-item">
    <div class="col-lg-8 request-inner-body-item-left">
        <p>{{ label }}</p>
    </div>
    <div class="col-lg-4 request-inner-body-item-right">
        {% if files is empty %}
            <p>В разделе нет файлов.
                {% if app.user is same as (request.user) %}
                    <a href="{{ path('editRequest', {id: request.id}) }}">Добавить?</a>
                {% endif %}
            </p>
        {% else %}
            <p>Список загруженных файлов:</p>
            {% for file in files %}
                <div class="request-inner-body-item-right-file">
                    <p><a href="{{ path('download', {id: file.id}) }}">{{ file.filename }}</a><br /></p>
                    {% if app.user is same as (request.user) %}
                        <a href="{{ path('deleteFile', {id: file.id}) }}">Удалить файл</a>
                    {% endif %}
                </div>
            {% endfor %}
            {% if app.user is same as (request.user) %}
                <a href="{{ path('editRequest', {id: request.id}) }}">Добавить файл(ы)</a>
            {% endif %}
        {% endif %}
    </div>
</div>