{% extends 'base.html.twig' %}

{% block body %}

    <div class="dialog">
    <div class="container">
        <div class="row">
            <div class="col-lg-{{ navWidth }}">
                {% include "views/components/navbar.html.twig" %}
            </div>
            <div class="col-lg-{{ contentWidth }} dialog-inner">

                <div class="dialog-inner-form">
                    {% if is_granted("ROLE_ADMIN") %}
                        <h3>Отправить сообщение пользователю
                            <a href="{{ path('adminProfile', {id: dialog.user.id}) }}">
                                {{ dialog.user.fullName}}
                            </a>:
                        </h3>
                    {% else %}
                        <h3>Отправить сообщение администратору:</h3>
                    {% endif %}
                    {{ form_start(form) }}
                    {{ form_row(form.text) }}
                    <div class="form-file">
                        {% if (form_errors(form.files)) %}
                            <div class="col-lg-12 form-file-errors">
                                {{ form_errors(form.files) }}
                            </div>
                        {% endif %}
                        <div class="form-file-files">
                            <p>Добавьте файлы:</p>
                            <ul class="file-fields-list"
                                data-prototype="{{ form_widget(form.files.vars.prototype)|e }}"
                                data-widget_tags="{{ 'li'|e }}">
                            </ul>
                            <a href="#" class="add-another-collection-widget">Прикрепить ещё файл</a>
                        </div>
                        <button class="btn btn-raised btn-primary btn-lg" type="submit">Отправить</button>
                        {{ form_end(form) }}
                    </div>
                </div>


                <div class="dialog-inner-messages">

                    {% if messages is empty %}
                        <h2>Пока нет сообщений.</h2>
                    {% else %}
                        <h2>История сообщений:</h2>
                        {% for message in messages  %}
                            {% include('views/message.html.twig') %}
                        {% endfor %}
                    {% endif %}


                </div>
            </div>
        </div>
    </div>

    <script>
        'use strict';var fileRows=document.querySelectorAll('.form-file');fileRows&&fileRows.forEach(function(a){var b=a.querySelector('.add-another-collection-widget');newField(a),b.addEventListener('click',function(c){c.preventDefault(),newField(a)})});function newField(a){for(var c,b=1<arguments.length&&void 0!==arguments[1]?arguments[1]:1;b;){if(c=a.querySelector('.file-fields-list'),!c)return console.error('No elem'),null;for(var h,d=c.children,f=!0,g=0;g<d.length;g++)if(h=d[g].firstChild,'INPUT'===h.nodeName&&0===h.files.length)return f=!1,null;if(f){var j=c.dataset.widget_counter|c.children.length;j||(j=c.children.length);var k=c.dataset.prototype;k=k.replace(/__name__/g,j),j++,c.dataset.widget_counter=j.toString();var l=document.createElement(c.dataset.widget_tags);l.innerHTML=k,c.appendChild(l),b--}}}
    </script>
{% endblock %}