{% if is_granted('ROLE_ADMIN') %}
    {% set adminClass = "own" %}
    {% set userClass = "inter" %}
    {% set adminMessage = "Ваше сообщение:" %}
    {% set userMessage = "Сообщение от: " ~ message.owner.fullname %}
{% else %}
    {% set adminClass = "inter" %}
    {% set userClass = "own" %}
    {% set adminMessage = "Ответ администратора:"%}
    {% set userMessage = "Ваше сообщение:"%}
{% endif %}

<div class="message message-{% if message.isResponse %}{{ adminClass }}{% else %}{{ userClass }}{% endif %}">
    <div class="message-body">
        <h2>{% if message.isResponse %}{{ adminMessage }}{% else %}{{ userMessage }}{% endif %}</h2>
        <p>{{ message.text }}</p>
        <p>Отправлено: {{ message.createdAt|date('d/m/Y h:i') }}</p>
        {% if message.userRequest %}
            <p>К заявке: <a href="{{ path('userRequest', {id: message.userRequest.id}) }}">№{{ message.userRequest.id }} "{{ message.userRequest.objectName  }}"</a></p>
        {% endif %}
    </div>
    {% if message.links is not empty %}
        <h3>Прикрепленные файлы:</h3>
        <div class="message-links">
            {% for link in message.links  %}
                <a href="{{ path('download', {id:link.id}) }}">{{ link.filename }}</a>
            {% endfor %}
        </div>
    {% else %}

    {% endif %}
    <div class="message-actions">
        {% if
            (is_granted('ROLE_ADMIN')) or (
            not message.isResponse and message.dialog.user == app.user) %}
            <a href="{{ path('deleteMessage', {id: message.id}) }}">Удалить сообщение</a>
        {% endif %}
    </div>
</div>