{% extends 'base.html.twig' %}

{% block body %}

    <div class="request">
        <div class="container">
            <div class="row">
                <div class="col-lg-{{ navWidth }}">
                    {% include "views/components/navbar.html.twig" %}
                </div>
                <div class="col-lg-{{ contentWidth }} request-inner">
                    <div class="request-inner-head">
                        <h3>Заявка №{{ request.id }} от  {{ request.createdAt|date("d/m/Y") }}</h3>
                        <p>Статус заявки: {{ request.status.content }}</p>
                        {% if is_granted('ROLE_ADMIN') %}
                            <p>От организации: <a href="{{ path('adminProfile', {id: request.user.id}) }}">{{ request.user.company }}</a>
                                | <a href="{{ path('adminDialog', {id: request.user.id}) }}">Перейти к диалогу с пользователем</a></p>
                        {% endif %}
                        <p>Наименование объекта: {{ request.objectName }}</p>
                        {% if app.user is same as (request.user) %}
                            <p><a href="{{ path('editRequest', {id: request.id}) }}">Отредактировать заявку</a></p>
                        {% endif %}
                        {% if is_granted ("ROLE_ADMIN") %}
                            <a class="btn btn-raised btn-primary" href="{{ path('adminUserRequestEdit', {id: request.id}) }}">Ответить на заявку</a>
                            <a class="btn btn-raised btn-primary" href="{{ path('adminDialog', {id: request.user.id, userRequestId: request.id}) }}">
                                Связаться с пользователем
                            </a>
                        {% else %}
                            <a href="{{ path('dialog', {userRequestId: request.id}) }}" class="btn btn-raised btn-primary">Связаться с администратором</a>
                        {% endif %}
                        <br />
                        <p><a href="{{ path('downloadArchive', {id: request.id}) }}" class="btn btn-raised btn-primary">Скачать все файлы</a></p>

                    </div>
                    <div class="request-inner-body">
                        {% if
                            (request.adminContract is not empty) or
                            (request.bill is not empty) or
                            (request.remark is not empty) or
                            (request.decision is not empty) %}
                            <div class="request-inner-body-answer">
                                <h3>Файлы ответа</h3>
                                {% include 'views/components/requestAnswerField.html.twig' with {
                                    'files': request.adminContract,
                                    'label': 'Договор'} %}
                                {% include 'views/components/requestAnswerField.html.twig' with {
                                    'files': request.bill,
                                    'label': 'Счет'} %}
                                {% include 'views/components/requestAnswerField.html.twig' with {
                                    'files': request.remark,
                                    'label': 'Замечания'} %}
                                {% include 'views/components/requestAnswerField.html.twig' with {
                                    'files': request.decision,
                                    'label': 'Заключение'} %}
                            </div>
                        {% endif %}

                        <h3>Файлы заявки</h3>
                        <div class="row">
                            {% include 'views/components/requestField.html.twig' with {
                                'files': request.contract,
                                'label': 'Заявление, приложения, договорные документы'} %}
                            {% include 'views/components/requestField.html.twig' with {
                                'files': request.isd1,
                                'label': 'Исходно-разрешительная документация.'} %}
                            {% include 'views/components/requestField.html.twig' with {
                                'files': request.oksp2,
                                'label': 'Объекты капитального строительства производственного и непроизводственного назначения.
                                Раздел 2.'} %}
                            {% include 'views/components/requestField.html.twig' with {
                                'files': request.oksp3,
                                'label': 'Объекты капитального строительства производственного и непроизводственного назначения.
                                Раздел 3.'} %}
                            {% include 'views/components/requestField.html.twig' with {
                                'files': request.oksp4,
                                'label': 'Объекты капитального строительства производственного и непроизводственного назначения.
                                Раздел 4.'} %}
                            {% include 'views/components/requestField.html.twig' with {
                                'files': request.oksp5,
                                'label': 'Объекты капитального строительства производственного и непроизводственного назначения.
                                Раздел 5.'} %}
                            {% include 'views/components/requestField.html.twig' with {
                                'files': request.oksp6,
                                'label': 'Объекты капитального строительства производственного и непроизводственного назначения.
                                Раздел 6.'} %}
                            {% include 'views/components/requestField.html.twig' with {
                                'files': request.oksp7,
                                'label': 'Объекты капитального строительства производственного и непроизводственного назначения.
                                Раздел 7.'} %}
                            {% include 'views/components/requestField.html.twig' with {
                                'files': request.oksp8,
                                'label': 'Объекты капитального строительства производственного и непроизводственного назначения.
                                Раздел 8.'} %}
                            {% include 'views/components/requestField.html.twig' with {
                                'files': request.oksp9,
                                'label': 'Объекты капитального строительства производственного и непроизводственного назначения.
                                Раздел 9.'} %}
                            {% include 'views/components/requestField.html.twig' with {
                                'files': request.locs10,
                                'label': 'Линейные объекты капитального строительства.
                            Раздел 10.'} %}
                            {% include 'views/components/requestField.html.twig' with {
                                'files': request.oksp101,
                                'label': 'Объекты капитального строительства производственного и непроизводственного назначения.
                                Раздел 10_1.'} %}
                            {% include 'views/components/requestField.html.twig' with {
                                'files': request.oksp11,
                                'label': 'Объекты капитального строительства производственного и непроизводственного назначения.
                                Раздел 11.'} %}
                            {% include 'views/components/requestField.html.twig' with {
                                'files': request.oksp12,
                                'label': 'Объекты капитального строительства производственного и непроизводственного назначения.
                                Раздел 12.'} %}
                        </div>


                    </div>
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="request-inner-controls">
                            <h3>Управление заявкой: </h3>
                            <p>
                                <a class="btn btn-raised btn-primary" href="{{ path('adminUserRequestStatus', {id: request.id, status: 'active'}) }}">
                                    Присвоить статус "Принята в работу"
                                </a>
                            </p>
                            <p>
                                <a class="btn btn-raised btn-primary" href="{{ path('adminUserRequestStatus', {id: request.id, status: 'finished'}) }}">
                                    Присвоить статус "Завершена"
                                </a>
                            </p>
                            <p>
                                <a class="btn btn-raised btn-primary" href="{{ path('adminUserRequestStatus', {id: request.id, status: 'declined'}) }}">
                                    Присвоить статус "Отклонена"
                                </a>
                            </p>
                            {% if (request.status.name is same as ("declined")) or (request.status.name is same as ("finished")) %}
                                <a href="{{ path('adminUserRequestDelete', {id: request.id}) }}">Удалить заявку</a>
                            {% endif %}
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}