{% extends 'base.html.twig' %}



{% block body %}
<div class="register">
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-6 centered">
                <h2>Регистрация:</h2>
                {{ form_start(form) }}
                    {% form_theme form 'views/form/bootstrapInputField.html.twig' %}
                    {{ form_row(form.fullName) }}
                    {{ form_row(form.company) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.phone) }}
                    {{ form_row(form.plainPassword.first) }}
                    {{ form_row(form.plainPassword.second) }}
                {% form_theme form 'views/form/hiddenField.html.twig' %}
                {{ form_row(form.addressCustom) }}

                <button class="btn btn-raised btn-primary btn-lg" type="submit">Зарегистрироваться</button>



                {{ form_end(form) }}
                {#, {'render_rest': false}#}
            </div>
        </div>
    </div>
</div>
{% endblock %}