{% extends 'base.html.twig' %}
{% block body %}
    <div class="status">
        <div class="container">
            <div class="row">
                <div class="status-body">
                    {% if app.user.highestRole is same as ('ROLE_INACTIVE') %}
                        <h2>Спасибо за регистрацию!</h2>
                        <p>Ваша учетная запись ещё неактивна. Следуйте инструкциям, высланным на {{ app.user.email }}</p>
                    {% elseif app.user.highestRole is same as ('ROLE_DENIED') %}
                        <h2>Приостановленная учетная запись</h2>
                        <p>Действие учетной записи приостановлено.</p>
                    {% endif %}
                    <p>Остались вопросы? Свяжитесь с нами: <a href="mailto:{{ administratorEmail }}">{{ administratorEmail }}</a></p>
                    <p><a href="{{ path('logout') }}">Выйти</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}