
{% extends 'base.html.twig' %}

{% block body %}
    <div class="profile">
        <div class="container">
            <div class="row">
                <div class="col-lg-{{ navWidth }}">
                    {% include "views/components/navbar.html.twig" %}
                </div>
                <div class="col-lg-{{ contentWidth }}">
                    <div class="editProfile">
                        {{ form_start(form) }}
                        {% form_theme form 'views/form/bootstrapInputField.html.twig' %}
                        {{ form_row(form.oldPassword) }}
                        {{ form_row(form.plainPassword) }}
                        <button class="btn btn-raised btn-primary" type="submit">Сохранить изменения</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}