{% extends 'base.html.twig' %}

{% block body %}
    <div class="profile">
        <div class="container">
            <div class="row">
                <div class="col-lg-{{ navWidth }}">
                    {% include "views/components/navbar.html.twig" %}
                </div>
                <div class="col-lg-{{ contentWidth }}">
                    <div class="profile-holder">
                        <h3><span>Профиль:</span> {{ user.email }}</h3>
                        <p><span>ФИО:</span> {{ user.fullname }}</p>
                        <p><span>Компания:</span> {{ user.company }}</p>
                        <p><span>Номер телефона:</span> {{ user.phone }}</p>
                        <a href="{{ path('editProfile') }}">Редактировать профиль</a>
                        <a href="{{ path('changePassword') }}">Изменить пароль</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}