{% extends 'base.html.twig' %}

{% block body %}

    <div class="requests">
        <div class="container">
            <div class="row">
                <div class="col-lg-{{ navWidth }}">
                    {% include "views/components/navbar.html.twig" %}
                </div>
                <div class="col-lg-{{ contentWidth }} requests-inner">
                    {% if requests is empty %}
                        <h3>Вы ещё не оставили ни одной заявки!</h3>
                    {% else %}
                    <h2>Ваши заявки:</h2>

                    <table>
                        <tbody>
                        <tr>
                            <th class="col-lg-4" style="text-align: center;">
                                <p>Имя:</p>
                            </th>
                            <th class="col-lg-2" style="text-align: center;">
                                <p>Обновлено:</p>
                            </th>
                            <th class="col-lg-2" style="text-align: center;">
                                <p>Создано:</p>
                            </th>
                            <th class="col-lg-4" style="text-align: center;">
                                <p>Статус:</p>
                            </th>
                        </tr>
                        {% for request in requests|reverse %}
                            <tr>
                                <td style="text-align: center;">
                                    <a href="{{ path('userRequest', {id: request.id}) }}">
                                        Объект "{{ request.objectName }}"
                                    </a>
                                </td>
                                <td style="text-align: center;">
                                    <p>{{ request.updatedAt|date("d/m/Y, H:i") }}</p>
                                </td>
                                <td style="text-align: center;">
                                    <p>{{ request.createdAt|date("d/m/Y") }}</p>
                                </td>
                                <td style="text-align: center;">
                                    <p>{{ request.status.content }}</p>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}