{% extends 'base.html.twig' %}

{% block body %}
    <div class="dialogs">
        <div class="container">
            <div class="row">
                <div class="col-lg-{{ navWidth }}">
                    {% include "views/components/navbar.html.twig" %}
                </div>
                <div class="col-lg-{{ contentWidth }} dialogs-inner">
                    {% if dialogs is not empty %}
                        <h2>Диалоги:</h2>
                        {% for dialog in dialogs %}
                            <div class="dialogs-inner-item">
                                <p><a href="{{ path('profile', {id: dialog.user.id}) }}">{{ dialog.user.email }}</a></p>
                                <p>{{ dialog.user.fullname }}</p>
                                <p><a href="{{ path('adminDialog', {id: dialog.user.id}) }}">Перейти к диалогу</a></p>
                                {#<p><a href="{{ path('deleteDialog', {id: dialog.id}) }}">Удалить диалог</a></p>#}
                            </div>
                        {% endfor %}
                    {% else %}
                        <h2>Пока нет диалогов. <a href="{{ path('profiles') }}">Выберите пользователя</a>, чтобы начать диалог</h2>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}