{% extends 'base.html.twig' %}


{% block body %}
    <div class="profile">
        <div class="container">
            <div class="row">
                <div class="col-lg-{{ navWidth }}">
                    {% include "views/components/navbar.html.twig" %}
                </div>
                <div class="col-lg-{{ contentWidth }}">
                    <div class="profile-holder">
                        <h2><span>Профиль:</span> {{ user.email }}</h2>
                        <p><span>ФИО:</span> {{ user.fullname }}</p>
                        <p><span>Компания:</span> {{ user.company }}</p>
                        <p><span>Номер телефона:</span> {{ user.phone }}</p>
                        <p><a href="{{ path('adminDialog', {id: user.id}) }}">Перейти к диалогу с пользователем</a></p>
                        {% if user.highestRole == 'ROLE_INACTIVE' %}
                            <h3>Неподтвержденный пользователь</h3>
                            <p><a href="{{ path('confirmUser', {id: user.id}) }}">Подтвердить</a></p>
                            <p><a href="{{ path('denyUser', {id: user.id}) }}">Отклонить</a></p>
                        {% elseif user.highestRole == 'ROLE_DENIED' %}
                            <h3>Заблокированный пользователь</h3>
                            <p><a href="{{ path('confirmUser', {id: user.id}) }}">Восстановить пользователя</a></p>
                            <p><a href="{{ path('deleteUser', {id: user.id}) }}">Удалить пользователя</a></p>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('denyUser', {id: user.id}) }}">Заблокировать пользователя</a>
                        {% endif %}
                        {% if user.userRequests is not empty %}
                            <h2>Пользовательские заявки:</h2>
                            {% for request in user.userRequests  %}
                                <div class="profile-holder-requests">
                                    <p><a href="{{ path('adminUserRequest', {id: request.id}) }}">Заявка №{{ request.id }} на
                                            объект "{{ request.objectName }}"</a></p>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}