{% extends 'base.html.twig' %}

{% block body %}
    <div class="admin-index">
        <div class="container">
            <div class="row">
                <div class="col-lg-{{ navWidth }}">
                    {% include "views/components/navbar.html.twig" %}
                </div>
                <div class="col-lg-{{ contentWidth }}">
                    <div class="admin-index-active">
                        <h2>Активные пользователи:</h2>
                        {% if userGroups['activeUsers'] %}
                            {% for item in userGroups['activeUsers'] %}
                                <div class="admin-index-active-item admin-index-item">
                                    <p><span>Пользователь:</span><a href="{{ path('adminProfile', {id: item.id}) }}">{{ item.email }}</a> </p>
                                    <p><span>ФИО:</span> {{ item.fullname }}</p>
                                    <p><span>Компания:</span> {{ item.company }}</p>
                                    <p><span>Номер телефона:</span> {{ item.phone }}</p>
                                    <p><a href="{{ path('adminDialog', {id: item.id}) }}">Написать сообщение</a></p>
                                    <p><a href="{{ path('denyUser', {id: item.id}) }}">Заблокировать пользователя</a></p>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="admin-index-active-empty">
                                <p>Нет активных пользователей</p>
                            </div>
                        {% endif %}
                    </div>
                    <div class="admin-index-denied">
                        <h2>Отклоненные пользователи:</h2>
                        {% if userGroups['deniedUsers']  %}
                            {% for item in userGroups['deniedUsers'] %}
                                <div class="admin-index-active-item admin-index-item">
                                    <p><span>ФИО:</span> {{ item.fullname }}</p>
                                    <p><span>Эл. почта:</span>{{ item.email }}</p>
                                    <p><span>Компания:</span> {{ item.company }}</p>
                                    <p><span>Номер телефона:</span> {{ item.phone }}</p>
                                    <p><a href="{{ path('confirmUser', {id: item.id}) }}">Восстановить пользователя</a></p>
                                    <p><a href="{{ path('deleteUser', {id: item.id}) }}">Удалить пользователя</a></p>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="admin-index-active-empty">
                                <p>Нет отклоненных пользователейы</p>
                            </div>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}