{% extends 'base.html.twig' %}

{% block body %}
    <div class="dialogs">
        <div class="container">
            <div class="row">
                <div class="col-lg-{{ navWidth }}">
                    {% include "views/components/navbar.html.twig" %}
                </div>
                <div class="col-lg-{{ contentWidth }} dialogs-inner">
                    {% if requests is not empty %}

                        <h2>Заявки по статусу: "{{ requests[0].status.content }}"</h2>

                        <table>
                            <tbody>
                            <tr>
                                <th class="col-lg-4" style="text-align: center;">
                                    <p>Имя:</p>
                                </th>
                                <th class="col-lg-2" style="text-align: center;">
                                    <p>Обновлено:</p>
                                </th>
                                <th class="col-lg-2" style="text-align: center;">
                                    <p>Создано:</p>
                                </th>
                                <th class="col-lg-4" style="text-align: center;">
                                    <p>Статус:</p>
                                </th>
                            </tr>
                        {% for request in requests %}
                            <tr>
                                <td style="text-align: center;">
                                    <a href="{{ path('userRequest', {id: request.id}) }}">
                                        Объект "{{ request.objectName }}"
                                    </a>
                                </td>
                                <td style="text-align: center;">
                                    <p>{{ request.updatedAt|date("d/m/Y, H:i") }}</p>
                                </td>
                                <td style="text-align: center;">
                                    <p>{{ request.createdAt|date("d/m/Y") }}</p>
                                </td>
                                <td style="text-align: center;">
                                    <p>{{ request.status.content }}</p>
                                </td>

                            </tr>
                        {% endfor %}

                            </tbody>
                        </table>

                    {% else %}
                        <h2>Нет заявок в данной категории</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}