{% block form_row %}
    {% spaceless %}
        <div class="cabinet-row">
            {% if (form_errors(form)) %}
                        {{ form_errors(form) }}
            {% endif %}
            <div class="cabinet-row-widget">
                {{ form_label(form) }}
                {{ form_widget(form) }}
            </div>

        </div>
    {% endspaceless %}
{% endblock form_row %}