{% block form_row %}
{% spaceless %}
    <div class="form-file form-row">
        {% if (form_errors(form)) %}
            <div class="row">
                <div class="col-lg-12 form-file-errors">
                    {{ form_errors(form) }}
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-lg-7 form-file-label">
                {{ form_label(form) }}
            </div>
            <div class="col-lg-5 form-file-files">
                <p>Добавьте файлы:</p>
                <ul class="file-fields-list"
                    data-prototype="{{ form_widget(form.vars.prototype)|e }}"
                    data-widget_tags="{{ 'li'|e }}">
                </ul>
                <a href="#" class="add-another-collection-widget">Прикрепить ещё файл</a>
            </div>
        </div>

    </div>
{% endspaceless %}
{% endblock form_row %}