{% block form_row %}
    {% spaceless %}
        <div class="form-text form-row address-registration">
            {% if (form_errors(form)) %}
                        {{ form_errors(form) }}
            {% endif %}
            {{ form_label(form) }}
            {{ form_widget(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}