{% block form_row %}
    {% spaceless %}
        <div class="form-text form-row">
            {% if (form_errors(form)) %}
                <div class="row">
                    <div class="col-lg-12 form-text-errors">
                        {{ form_errors(form) }}
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-lg-7 form-text-label">
                    {{ form_label(form) }}
                </div>
                <div class="col-lg-5 form-text-files">
                    {{ form_widget(form) }}
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock form_row %}