<h3>Сообщение с сайта <a href="{{ absolute_url(path('homepage')) }}">{{ organisation_name }}</a>!</h3>

{% if app.user is same as (userRequest.user) %}
    Пользователь {{ userRequest.user.fullName }} внес изменения в заявку.

    Для просмотра и обработки заявки перейдите по
    <a href="{{ absolute_url(path('adminUserRequest', {id: userRequest.id})) }}">ссылке</a>
{% else %}
    Администратор обработал вашу заявку.<br />
    Для получения полной информации перейдите по
    <a href="{{ absolute_url(path('userRequest', {id: userRequest.id})) }}">ссылке</a>
{% endif %}




