<h3>Сообщение с сайта <a href="{{ absolute_url(path('homepage')) }}">{{ organisation_name }}</a>!</h3>


{% if not message.isResponse %}
    Пользователь {{ message.owner.fullName }} отправил Вам новое сообщение.

    Для прочтения перейдите по <a href="{{ absolute_url(path('adminDialog', {id: message.owner.id})) }}">ссылке</a>
{% else %}
    Здравствуйте, {{ message.owner.fullname }}.
    <br />
    Администратор ресурса отправил Вам новое сообщение.
    <br />
    Перейдите по <a href="{{ absolute_url(path('dialog')) }}">ссылке</a> для его просмотра.
    <br />
    Спасибо!
{% endif %}
