<h3>Сообщение с сайта <a href="{{ absolute_url(path('homepage')) }}">{{ organisation_name }}</a>!</h3>

    Пользователь {{ userRequest.user.fullName }} оставил новую заявку.

    Для просмотра и обработки заявки перейдите по <a href="{{ absolute_url(path('adminUserRequest', {id: userRequest.id})) }}">ссылке</a>



