<h3>Спасибо за регистрацию на сайте <a href="{{ absolute_url(path('homepage'))}}">{{ organisation_name }}</a>!</h3>

Вы успешно зарегистрировались.

Для завершения регистрации и активации аккаунта <a href="{{ activationData['link'] }}">перейдите по ссылке</a>.

Спасибо!
