{% set contentWidth = 9 %}
{% set navWidth = 12 - contentWidth %}



<html lang="ru-ru" dir="ltr"
      class='com_content view-article itemid-101 home j36 mm-hover'>

<head>
    {#<base href="https://ekspertiza-es.ru/" />#}
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="author" content="ЭНЕРГОЭКСПЕРТСТРОЙ" />
    <title>{% block title %}ООО «ЭНЕРГОЭКСПЕРТСТРОЙ»{% endblock %}</title>


    {% block stylesheets %}
        <link href="https://ekspertiza-es.ru/templates/t3_bs3_blank/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
        <link href="https://ekspertiza-es.ru/templates/t3_bs3_blank/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
        <link href="https://ekspertiza-es.ru/templates/t3_bs3_blank/local/css/themes/AirShop-green/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="https://ekspertiza-es.ru/plugins/system/jcemediabox/css/jcemediabox.css?3ab6d4490e67378d035cce4c84ffa080" rel="stylesheet" type="text/css" />
        <link href="https://ekspertiza-es.ru/plugins/system/jcemediabox/themes/squeeze/css/style.css?db43fb7bdf4b88f44190f82d817326e3" rel="stylesheet" type="text/css" />
        <link href="https://ekspertiza-es.ru/templates/system/css/system.css" rel="stylesheet" type="text/css" />
        <link href="https://ekspertiza-es.ru/templates/t3_bs3_blank/local/css/themes/AirShop-green/template.css" rel="stylesheet" type="text/css" />
        <link href="https://ekspertiza-es.ru/templates/t3_bs3_blank/local/css/themes/AirShop-green/megamenu.css" rel="stylesheet" type="text/css" />
        <link href="https://ekspertiza-es.ru/templates/t3_bs3_blank/css/custom.css" rel="stylesheet" type="text/css" />
        <link href="https://ekspertiza-es.ru/media/com_uniterevolution2/assets/rs-plugin/css/settings.css" rel="stylesheet" type="text/css" />
        <link href="https://ekspertiza-es.ru/media/com_uniterevolution2/assets/rs-plugin/css/dynamic-captions.css" rel="stylesheet" type="text/css" />
        <link href="https://ekspertiza-es.ru/media/com_uniterevolution2/assets/rs-plugin/css/static-captions.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v4.5.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">



    {% endblock %}

    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" type="text/javascript"></script>
        <script src="https://code.jquery.com/jquery-migrate-1.3.0.min.js" type="text/javascript"></script>
        <script src="https://ekspertiza-es.ru/plugins/system/jqueryeasy/jquerynoconflict.js" type="text/javascript"></script>
        <script src="https://ekspertiza-es.ru/media/system/js/caption.js" type="text/javascript"></script>
        <script src="https://ekspertiza-es.ru/plugins/system/t3/base-bs3/bootstrap/js/bootstrap.js" type="text/javascript"></script>
        <script src="https://ekspertiza-es.ru/plugins/system/jcemediabox/js/jcemediabox.js?2ee2100a9127451a41de5a4c2c62e127" type="text/javascript"></script>
        <script src="https://ekspertiza-es.ru/plugins/system/t3/base-bs3/js/jquery.tap.min.js" type="text/javascript"></script>
        <script src="https://ekspertiza-es.ru/plugins/system/t3/base-bs3/js/script.js" type="text/javascript"></script>
        <script src="https://ekspertiza-es.ru/plugins/system/t3/base-bs3/js/menu.js" type="text/javascript"></script>
        <script src="https://ekspertiza-es.ru/templates/t3_bs3_blank/local/js/ripples.min.js" type="text/javascript"></script>
        <script src="https://ekspertiza-es.ru/templates/t3_bs3_blank/local/js/nouislider.min.js" type="text/javascript"></script>
        <script src="https://ekspertiza-es.ru/templates/t3_bs3_blank/local/js/custom.js" type="text/javascript"></script>
        <script src="https://ekspertiza-es.ru/templates/t3_bs3_blank/local/js/modernizr-custom.js" type="text/javascript"></script>
        <script src="https://ekspertiza-es.ru/plugins/system/t3/base-bs3/js/nav-collapse.js" type="text/javascript"></script>
        <script src="https://ekspertiza-es.ru/media/com_uniterevolution2/assets/rs-plugin/js/jquery.themepunch.tools.min.js" type="text/javascript"></script>
        <script src="https://ekspertiza-es.ru/media/com_uniterevolution2/assets/rs-plugin/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" type="text/javascript"></script>
        <script src="https://code.jquery.com/jquery-migrate-1.3.0.min.js" type="text/javascript"></script>
        <script src="https://ekspertiza-es.ru/plugins/system/jqueryeasy/jquerynoconflict.js" type="text/javascript"></script>
        <script src="https://ekspertiza-es.ru/t3-assets/js/js-349c7-15975.js" type="text/javascript"></script>
        <script src="https://ekspertiza-es.ru/plugins/system/jcemediabox/js/jcemediabox.js?2ee2100a9127451a41de5a4c2c62e127" type="text/javascript"></script>
        <script src="https://ekspertiza-es.ru/t3-assets/js/js-fec1c-15977.js" type="text/javascript"></script>
        <script type="text/javascript">
            jQuery(window).on('load',  function() {
                new JCaption('img.caption');
            });
            jQuery(function($){ $(".hasTooltip").tooltip({"html": true,"container": "body"}); });
            JCEMediaBox.init({popup:{width:"",height:"",legacy:0,lightbox:0,shadowbox:0,resize:1,icons:1,overlay:1,overlayopacity:0.8,overlaycolor:"#000000",fadespeed:500,scalespeed:500,hideobjects:0,scrolling:"fixed",close:2,labels:{'close':'Закрыть','next':'Далее','previous':'Назад','cancel':'Отмена','numbers':'{$current} из {$total}'},cookie_expiry:"",google_viewer:0},tooltip:{className:"tooltip",opacity:0.8,speed:150,position:"br",offsets:{x: 16, y: 16}},base:"/",imgpath:"plugins/system/jcemediabox/img",theme:"squeeze",themecustom:"",themepath:"plugins/system/jcemediabox/themes",mediafallback:0,mediaselector:"audio,video"});
        </script>
    {% endblock %}

    <!-- META FOR IOS & HANDHELD -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <style type="text/stylesheet">
        @-webkit-viewport   { width: device-width; }
        @-moz-viewport      { width: device-width; }
        @-ms-viewport       { width: device-width; }
        @-o-viewport        { width: device-width; }
        @viewport           { width: device-width; }
    </style>
    <script type="text/javascript">
        //<![CDATA[
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            msViewportStyle.appendChild(
                document.createTextNode("@-ms-viewport{width:auto!important}")
            );
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
        //]]>
    </script>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="apple-mobile-web-app-capable" content="YES"/>
    <!-- //META FOR IOS & HANDHELD -->




    <!-- Le HTML5 shim and media query for IE8 support -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script type="text/javascript" src="/plugins/system/t3/base-bs3/js/respond.min.js"></script>
    <![endif]-->

    <!-- You can add Google Analytics here or use T3 Injection feature -->

</head>

<body>

<div class="t3-wrapper"> <!-- Need this wrapper for off-canvas menu. Remove if you don't use of-canvas -->




    <!-- HEADER -->
    <header id="t3-header" class="t3-header container">
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 block-search">
                <div class="header-search">


                    <div class="custom"  >
                        <p style="text-align: center;"><strong><span style="font-size: 18px;"><span style="color: #666666;"><em class="fa fa-envelope"></em></span> <span id="cloak706a1c45eaef32d44727bd3ce597f729"><a href="mailto:info@ekspertiza-es.ru">info@ekspertiza-es.ru</a></span></span></strong></p>
                        <p style="font-size: 20px; text-align: center;"><strong><a href="/zadat-vopros?view=form" target="_blank" type="iframe" class="jcepopup noicon" data-mediabox-width="300" data-mediabox-height="450">Задать вопрос</a></strong></p></div>

                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 logo">
                <a href="/" title="ЭнергоЭкспертСтрой">
                    <img class="logo-img" src="/images/logo.jpg" alt="ЭнергоЭкспертСтрой" />
                </a>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 block-phone">
                <div class="header-phone">


                    <div class="custom"  >
                        <p style="text-align: center;"><strong><span style="font-size: 20px;"><span style="color: #666666;"><em class="fa fa-phone"></em> </span><span id="cloaka56dcb552b67f73147a4b9b4730b3cf5">+7 (8172) 78-70-50</span></span></strong></p></div>

                </div>
            </div>


        </div>
    </header>
    <!-- //HEADER -->



    <!-- MAIN NAVIGATION -->
    <nav id="t3-mainnav" class="navbar navbar-default t3-mainnav">

        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".t3-navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>


            </div>

            <div class="t3-navbar-collapse navbar-collapse collapse"></div>

            <div class="t3-navbar navbar-collapse collapse">
                <div  class="t3-megamenu animate fading"  data-duration="400" data-responsive="true">
                    <ul itemscope itemtype="http://www.schema.org/SiteNavigationElement" class="nav navbar-nav level0">
                        <li itemprop='name' class="current active" data-id="101" data-level="1">
                            <a itemprop='url' class="" href="/"   data-target="#">Главная </a>

                        </li>
                        <li itemprop='name'  data-id="374" data-level="1">
                            <a itemprop='url' class="" href="/raschet-onlajn"   data-target="#">Рассчитать стоимость </a>

                        </li>
                        <li itemprop='name' class="dropdown mega" data-id="367" data-level="1">
                            <a itemprop='url' class=" dropdown-toggle" href="/uslugi"   data-target="#" data-toggle="dropdown">Услуги <em class="caret"></em></a>

                            <div class="nav-child dropdown-menu mega-dropdown-menu"  ><div class="mega-dropdown-inner">
                                    <div class="row">
                                        <div class="col-xs-12 mega-col-nav" data-width="12"><div class="mega-inner">
                                                <ul itemscope itemtype="http://www.schema.org/SiteNavigationElement" class="mega-nav level1">
                                                    <li itemprop='name'  data-id="368" data-level="2">
                                                        <a itemprop='url' class="" href="/uslugi/negosudarstvennaya-ekspertiza-proektnoj-dokumentatsii"   data-target="#">Негосударственная экспертиза проектной документации </a>

                                                    </li>
                                                    <li itemprop='name'  data-id="369" data-level="2">
                                                        <a itemprop='url' class="" href="/uslugi/ekspertiza-inzhenernykh-izyskanij"   data-target="#">Негосударственная экспертиза инженерных изысканий </a>

                                                    </li>
                                                    <li itemprop='name'  data-id="394" data-level="2">
                                                        <a itemprop='url' class="" href="/uslugi/ekspertiza-smetnoj-dokumentatsii"   data-target="#">Негосударственная экспертиза сметной документации </a>

                                                    </li>
                                                </ul>
                                            </div></div>
                                    </div>
                                </div></div>
                        </li>
                        <li itemprop='name'  data-id="370" data-level="1">
                            <a itemprop='url' class="" href="/dokumenty"   data-target="#">Документы </a>

                        </li>
                        <li itemprop='name'  data-id="371" data-level="1">
                            <a itemprop='url' class="" href="/reglament"   data-target="#">Регламент </a>

                        </li>
                        <li itemprop='name'  data-id="372" data-level="1">
                            <a itemprop='url' class="" href="/eksperty"   data-target="#">Эксперты </a>

                        </li>
                        <li itemprop='name'  data-id="373" data-level="1">
                            <a itemprop='url' class="" href="/energoekspertstroj"   data-target="#">Контакты </a>

                        </li>
                        <li itemprop='name'  data-id="403" data-level="1">
                            <a itemprop='url' class="" href="http://ekspertiza-es.ru/cabinet/"   data-target="#">Личный кабинет</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </nav>
    <!-- //MAIN NAVIGATION -->

    {% block body %}
    {% endblock %}


    <!-- FOOTER -->
    <footer id="t3-footer" class="wrap t3-footer">

        <div class="container">
        </div>
    </footer>
    <!-- //FOOTER -->


    <div class="t3-copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12 footer-left">


                    <div class="custom"  >
                        <p>&copy; 2016 ООО «ЭнергоЭкспертСтрой» - негосударственная экспертиза проектов и инженерных изысканий<br/>
                            +7 (8172) 78-70-50,  info@ekspertiza-es.ru</p></div>


                    <div class="custom"  >
                        <!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter41724659 = new Ya.Metrika({ id:41724659, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/41724659" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter --></div>


                    <div class="custom"  >
                        <p style="text-align: right;"><span style="color: #ffffff;"><a href="http://sait-vologda.ru" target="_blank" style="color: #ffffff;">Создание сайта sait-vologda.ru</a></span></p></div>
                    <ul class="nav nav-pills nav-stacked ">
                        <li class="item-401"><a href="/vojti" >Войти</a></li></ul>

                </div>

            </div>
        </div>
    </div>

</div>
<script>
    jQuery(function () {
        jQuery.material.init();
    });
</script>
</body>

</html>


{#<!DOCTYPE html>#}
{#<html>#}
    {#<head>#}
        {#<meta charset="UTF-8">#}
        {#<title>{% block title %}Welcome!{% endblock %}</title>#}
        {#{% block stylesheets %}{% endblock %}#}
    {#</head>#}
    {#<body>#}
        {#{% block body %}{% endblock %}#}
        {#{% block javascripts %}{% endblock %}#}
    {#</body>#}
{#</html>#}