{% extends 'base.html.twig' %}
{% block body %}

    <div class="loginpage">
        <div class="container">
            <div class="row">
                <div class="col-12 loginpage-logo">
                    <h1>ЭНЕРГОЭКСПЕРТСТРОЙ - негосударственная экспертиза проектов и инженерных изысканий</h1>
                </div>
                <div class="col-4 loginpage-form">
                    <form action="{{ path('login') }}" method="POST">
                        <div class="form-group">
                            <label for="_username">Имя пользователя</label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Логин">
                        </div>
                        <div class="form-group">
                            <label for="_password">Пароль</label>
                            <input type="password" id="password" name="_password" placeholder="Пароль">
                        </div>
                        <button type="submit" class="btn btn-raised btn-primary">Вход</button>
                        <a href="{{ path('register') }}" class="btn btn-raised btn-primary btn-lg">Регистрация</a>
                    </form>
                    {% if error %}
                        <div><p>Неверно введен логин или пароль.</p></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}