{% extends 'base.html.twig' %}

{% block body %}

    <div class="request">
        <div class="container">
            <div class="row">
                <div class="col-lg-{{ navWidth }}">
                </div>
                <div class="col-lg-{{ contentWidth }} request-inner">
                    <div class="request-inner-head">
                        <h3>Запрашиваемая страница не найдена!</h3>
                        <p><a class="go-back" href="javascript:history.go(-1)">Вернуться назад</a></p>
                        
                </div>
            </div>
        </div>
    </div>
{% endblock %}