{% extends 'base.html.twig' %}
{% block body %}
    <div class="createRequest">
        <div class="container">
            <div class="row">
                <div class="col-lg-{{ navWidth }}">
                    {% include "views/components/navbar.html.twig" %}
                </div>
                <div class="col-lg-{{ contentWidth }}">
                    <h3>Требования к формату файлов:</h3>
                    <p>а) doc, docx, odt - для документов с текстовым содержанием, не включающим формулы (за исключением документов, указанных в подпункте «в» настоящего пункта);
                    <p>б) pdf - для документов с текстовым содержанием, в том числе включающих формулы и (или) графические изображения (за исключением документов, указанных в подпункте «в» настоящего пункта), а также документов с графическим содержанием;</p>
                    <p>в) xls, xlsx, ods - для документов, содержащих сводки затрат, сводного сметного расчета стоимости строительства, объектных сметных расчетов (смет), локальных сметных расчетов (смет), сметных расчетов на отдельные виды затрат.</p>
                    <p>Загружаемые файлы проектной документации должны быть не больше 80 МБ, в противном случае документы разбиваются на несколько файлов с присвоением порядкового номера.</p>
                    <p><b>Внимание! Все файлы проектной документации должны быть подписаны электронно-цифровой подписью с использованием программных средств, установленных на вашем компьютере или онлайн-сервисов</b></p>

                    <h3>Форма заявки:</h3>
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {% form_theme form 'views/form/textField.html.twig' %}
                    {{ form_row(form.objectName) }}
                    {% form_theme form 'views/form/fileField.html.twig' %}
                    {{ form_row(form.contractFiles) }}
                    {{ form_row(form.isd1Files) }}
                    {{ form_row(form.oksp2Files) }}
                    {{ form_row(form.oksp3Files) }}
                    {{ form_row(form.oksp4Files) }}
                    {{ form_row(form.oksp5Files) }}
                    {{ form_row(form.oksp6Files) }}
                    {{ form_row(form.oksp7Files) }}
                    {{ form_row(form.oksp8Files) }}
                    {{ form_row(form.oksp9Files) }}
                    {{ form_row(form.locs10Files) }}
                    {{ form_row(form.oksp101Files) }}
                    {{ form_row(form.oksp11Files) }}
                    {{ form_row(form.oksp12Files) }}
                    {{ form_row(form.correctionFiles) }}

                    {% if not (request.id) %}
                    {% do form.sendEmail.setRendered %}
                    {% else %}
                    {% form_theme  form 'views/form/textField.html.twig' %}
                    {{ form_row(form.sendEmail) }}
                    {% endif %}
                    {% if (request.published) and (not is_granted('ROLE_ADMIN')) %}
                        {% do form.saveDraft.setRendered %}
                    {% endif %}

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <script>
        'use strict';var fileRows=document.querySelectorAll('.form-file');fileRows&&fileRows.forEach(function(a){var b=a.querySelector('.add-another-collection-widget');newField(a),b.addEventListener('click',function(c){c.preventDefault(),newField(a)})});function newField(a){for(var c,b=1<arguments.length&&void 0!==arguments[1]?arguments[1]:1;b;){if(c=a.querySelector('.file-fields-list'),!c)return console.error('No elem'),null;for(var h,d=c.children,f=!0,g=0;g<d.length;g++)if(h=d[g].firstChild,'INPUT'===h.nodeName&&0===h.files.length)return f=!1,null;if(f){var j=c.dataset.widget_counter|c.children.length;j||(j=c.children.length);var k=c.dataset.prototype;k=k.replace(/__name__/g,j),j++,c.dataset.widget_counter=j.toString();var l=document.createElement(c.dataset.widget_tags);l.innerHTML=k,c.appendChild(l),b--}}}
    </script>
{% endblock %}